body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.CommonpaddingSection{
    padding: 1rem 16px;
    text-align: center;
}

.container{
    max-width: 1500px;
    padding: 0;
}

/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fd883f;
    transition: all .5s; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2c66af;
    transition: all .5s;
  }

/* Scroll */

/* Left side menu start */
    .MainDiv{
        position: relative;
    }

    .LeftSudeNav{
        position: absolute;
        width: var(--lef-Bg-width);
        background: var(--bg-left);
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px 10px;
        left: 0;
        box-shadow: 0 0 5px #bababa;
    }

    .SellcenterLogo{
        margin-bottom: 2rem;
    }

    .LeftSudeNav img{
        width: 60%;
        margin: auto;
    }

    .LeftSideList{
        font-weight: 500;
        font-size: 19px;
    }

    .LeftSideList ul{
        list-style: none;
        padding: 0px 10px;
    }

    .LeftSideList ul li{
        padding: 6px;
    }

    .LeftSideList ul li:hover{
        background: var(--logoColor-2);
        color: white;
        border-radius: 7px;
    }

    .LeftIconSpan{
        width: 36px;
        text-align: center;
        height: 36px;
        padding-top: 4px;
        background: var(--logoColor-1);
        border-radius: 33px;
        color: white;
        margin: 0;
        display: inline-block;
        margin-right: 2px;
        box-shadow: 0 0 3px #2c66af;
        font-size: 18px;
    }
/* Left side menu end */

/* main div start */
    .MainDivBody{
        width: calc(100% - var(--lef-Bg-width));
        height: 100vh;
        margin-left: var(--lef-Bg-width);
        position: relative;
    }

    /* fixed in top start */
    .FixedinTop{
        position: absolute;
        width: 100%;
        height: 55px;
        background-color: var(--logoColor-1);
        padding: 0 10px;
        color: white;
    }

    .TopIcon{
        font-size: 32px;
        margin-right: 20px;
        cursor: pointer;
    }

    .SearchForm{
        height: 30px;
        width: 300px;
    }

    .SearchForm input{
        height: 30px;
        width: 100%;
        padding: 8px 8px;
        border-radius: 5px;
        border: 0;
        outline: 0;
    }

    .SearchForm input:focus{
        outline: none;
    }

    .notification{
        font-size: 20px;
        margin-right: 1.5rem;
        position: relative;
    }

    .NotificationCont{
        position: absolute;
        top: -3px;
        right: -7px;
        background-color: var(--logoColor-2);
        color: white;
        padding: 0px;
        height: 17px;
        width: 17px;
        text-align: center;
        font-size: 12px;
        border-radius: 50%;
        padding-top: 0px;
        box-shadow: 0 0 4px #848484;
        cursor: pointer;
    }
    /* fixed in top end */

/* main div end */

/* responsive start */
    /* laptop */
    @media screen and (max-width: 1440px) {
        
    }

    /* tabe */
    @media screen and (max-width: 950px) {
        
    }

    /* mobile */
    @media screen and (max-width: 575px) {
        
    }
/* responsive end */

:root {
    --logoColor-1: #2c66af;
    --logoColor-2: #ff863f;
    --servocehover: #e79855;
    --footer-font: white;
    --bg-left: #dae7f7;
    --lef-Bg-width: 270px;
}